@model IEnumerable<coursework.Models.Organization>

@{
    ViewBag.Title = "Организации";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Организации</h2>

<p>
    @Html.ActionLink("Добавить", "Create")
</p>

<form method="get" action="@Url.Action("Search", "Organizations")">
    <input type="text" name="search" id="search" />
    <button type="submit">Поиск</button>
</form>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChiefFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChiefFamilyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChiefPatronymic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BIC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankAccount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChiefFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChiefFamilyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChiefPatronymic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BIC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankAccount)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
