@{
    ViewBag.Title = "Home Page";
}

<div class="col-lg-1">
    @Html.ActionLink("Страны", "Index", "Countries")
    @Html.ActionLink("Работники", "Index", "Employees")
    @Html.ActionLink("Отели", "Index", "Hotels")
    @Html.ActionLink("Организации", "Index", "Organizations")
    @Html.ActionLink("Маршруты", "Index", "Routes")
    @Html.ActionLink("Услуги", "Index", "Services")
    @Html.ActionLink("Туристы", "Index", "Tourists")
    @Html.ActionLink("Путевки", "Index", "Vouchers")
</div>